#include <windows.h>
#include <commctrl.h>
#include <richedit.h>
#include "resource.h"

LANGUAGE 0, SUBLANG_NEUTRAL

DLG_MAIN DIALOG 0, 0, 200, 100
STYLE DS_3DLOOK | DS_CENTER | DS_MODALFRAME | DS_SHELLFONT | WS_CAPTION | WS_VISIBLE | WS_POPUP | WS_SYSMENU
MENU IDR_MAINMENU
CAPTION "Simulador de Compuertas Logicas - Mejorado"
FONT 8, "Ms Shell Dlg"
BEGIN
END

DLG_SIMULATOR DIALOG 0, 0, 1000, 600
STYLE DS_3DLOOK | DS_CENTER | DS_MODALFRAME | DS_SHELLFONT | WS_CAPTION | WS_VISIBLE | WS_POPUP | WS_SYSMENU
CAPTION "Simulador de Compuertas Logicas"
FONT 8, "Ms Shell Dlg"
BEGIN
    GROUPBOX "Compuertas Basicas", -1, 10, 5, 430, 45
    PUSHBUTTON "AND", ID_BTN_AND, 20, 20, 50, 25
    PUSHBUTTON "NAND", ID_BTN_NAND, 80, 20, 50, 25
    PUSHBUTTON "OR", ID_BTN_OR, 140, 20, 50, 25
    PUSHBUTTON "NOR", ID_BTN_NOR, 200, 20, 50, 25
    PUSHBUTTON "NOT", ID_BTN_NOT, 260, 20, 50, 25
    PUSHBUTTON "XOR", ID_BTN_XOR, 320, 20, 50, 25
    PUSHBUTTON "XNOR", ID_BTN_XNOR, 380, 20, 50, 25

    GROUPBOX "Componentes", -1, 450, 5, 190, 45
    PUSHBUTTON "SWITCH", ID_BTN_SWITCH, 460, 20, 50, 25
    PUSHBUTTON "LED", ID_BTN_LED, 520, 20, 50, 25
    PUSHBUTTON "Cable", ID_BTN_CABLE, 580, 20, 50, 25

    GROUPBOX        "Herramientas", -1, 650, 5, 230, 45
    PUSHBUTTON      "Eliminar", ID_BTN_DELETE, 660, 20, 60, 25
    PUSHBUTTON      "Limpiar",  ID_BTN_CLEAR,  730, 20, 60, 25
    PUSHBUTTON      "Salir",    ID_BTN_EXIT,   800, 20, 60, 25

    LTEXT           "Area de Trabajo - Coloque componentes y conectelos con cables", -1, 10, 50, 350, 10

END

DLG_MATH DIALOG 0, 0, 450, 550
STYLE DS_3DLOOK | DS_CENTER | DS_MODALFRAME | DS_SHELLFONT |
      WS_CAPTION | WS_VISIBLE | WS_POPUP | WS_SYSMENU
CAPTION "Matematicas - Sistema de Numeracion y Combinatoria"
FONT 8, "Ms Shell Dlg"
BEGIN
    GROUPBOX "Sistema de Numeracion", -1, 10, 10, 430, 230
    LTEXT "Numero:", -1, 20, 35, 40, 10
    EDITTEXT IDC_MATH_NUMERO, 70, 30, 150, 15, ES_AUTOHSCROLL
    LTEXT "Base origen:", -1, 20, 60, 50, 10
    COMBOBOX IDC_MATH_BASE_ORIGEN, 70, 55, 100, 100, CBS_DROPDOWNLIST | WS_VSCROLL
    LTEXT "Base destino:", -1, 200, 60, 50, 10
    COMBOBOX IDC_MATH_BASE_DESTINO, 260, 55, 100, 100, CBS_DROPDOWNLIST | WS_VSCROLL
    PUSHBUTTON "Convertir", IDC_MATH_CONVERTIR, 380, 55, 50, 25
    LTEXT "Resultado:", -1, 20, 95, 40, 10
    EDITTEXT IDC_MATH_RESULTADO_CONV, 70, 90, 300, 15, ES_READONLY | ES_AUTOHSCROLL
    LTEXT "Procedimiento paso a paso:", -1, 20, 120, 120, 10
    EDITTEXT IDC_MATH_RESOLUCION, 20, 135, 410, 90, ES_MULTILINE | ES_READONLY |
             WS_VSCROLL | WS_BORDER | ES_AUTOVSCROLL

    GROUPBOX "Combinatoria", -1, 10, 250, 430, 200
    LTEXT "Valor n:", -1, 20, 275, 40, 10
    EDITTEXT IDC_MATH_N, 70, 270, 80, 15, ES_NUMBER | ES_AUTOHSCROLL
    LTEXT "Valor k:", -1, 170, 275, 40, 10
    EDITTEXT IDC_MATH_K, 210, 270, 80, 15, ES_NUMBER | ES_AUTOHSCROLL
    PUSHBUTTON "Calcular", IDC_MATH_CALCULAR, 310, 270, 60, 25
    LTEXT "Factorial (n!):", -1, 20, 310, 60, 10
    EDITTEXT IDC_MATH_FACTORIAL, 90, 305, 150, 15, ES_READONLY | ES_AUTOHSCROLL
    LTEXT "Permutaciones P(n,k):", -1, 20, 340, 90, 10
    EDITTEXT IDC_MATH_PERMUTACIONES, 120, 335, 150, 15, ES_READONLY | ES_AUTOHSCROLL
    LTEXT "Combinaciones C(n,k):", -1, 20, 370, 90, 10
    EDITTEXT IDC_MATH_COMBINACIONES, 120, 365, 150, 15, ES_READONLY | ES_AUTOHSCROLL

    PUSHBUTTON "Salir", IDC_MATH_SALIR, 190, 480, 80, 25
END
DLG_TREES DIALOG 0, 0, 850, 600
STYLE DS_3DLOOK | DS_CENTER | DS_MODALFRAME | DS_SHELLFONT | WS_CAPTION | WS_VISIBLE | WS_POPUP | WS_SYSMENU
CAPTION "Arbol Binario de Busqueda (BST) / Grafos"
FONT 8, "Ms Shell Dlg"
BEGIN
    GROUPBOX        "Operaciones (Arbol)", -1, 10, 5, 430, 45
    LTEXT           "Valor:", -1, 20, 23, 30, 10
    EDITTEXT        ID_EDIT_TREE_VALUE, 55, 20, 50, 20, ES_NUMBER
    PUSHBUTTON      "Insertar",     ID_BTN_TREE_INSERT,   115, 20, 60, 25
    PUSHBUTTON      "Eliminar",     ID_BTN_TREE_DELETE,   185, 20, 60, 25
    PUSHBUTTON      "Buscar",       ID_BTN_TREE_SEARCH,   255, 20, 60, 25
    PUSHBUTTON      "Aleatorio",    ID_BTN_TREE_RANDOM,   325, 20, 60, 25
    PUSHBUTTON      "Limpiar",      ID_BTN_TREE_CLEAR,    395, 20, 40, 25

    GROUPBOX        "Recorridos (Arbol)", -1, 450, 5, 250, 45
    PUSHBUTTON      "Inorden",      ID_BTN_TREE_INORDER,   460, 20, 70, 25
    PUSHBUTTON      "Preorden",     ID_BTN_TREE_PREORDER,  540, 20, 70, 25
    PUSHBUTTON      "Postorden",    ID_BTN_TREE_POSTORDER, 620, 20, 70, 25

    GROUPBOX        "Grafos", -1, 10, 55, 430, 45
    PUSHBUTTON      "Modo Grafo",   ID_BTN_TOGGLE_MODE,   20, 70, 80, 25
    PUSHBUTTON      "Grafo 1 (5 nodos)", ID_BTN_GRAPH_SELECT1, 110, 70, 100, 25
    PUSHBUTTON      "Grafo 2 (8 nodos)", ID_BTN_GRAPH_SELECT2, 220, 70, 100, 25
    PUSHBUTTON      "Prim",         ID_BTN_GRAPH_PRIM,     330, 70, 50, 25
    PUSHBUTTON      "Kruskal",      ID_BTN_GRAPH_KRUSKAL,  390, 70, 60, 25

    GROUPBOX        "Control", -1, 710, 5, 100, 45
    PUSHBUTTON      "Salir",        ID_BTN_TREE_EXIT,      720, 20, 80, 25

    LTEXT           "Resultado:", -1, 10, 110, 50, 10
    LTEXT           "", ID_TEXT_TREE_RESULT, 70, 110, 300, 10

    LTEXT           "Area de visualizacion - El Arbol/Grafo se dibujara aqui", -1, 10, 125, 300, 10
END

DLG_KARNAUGH DIALOG 0, 0, 500, 350
STYLE DS_3DLOOK | DS_CENTER | DS_MODALFRAME | WS_CAPTION | WS_SYSMENU
CAPTION "Mapas de Karnaugh"
FONT 8, "Ms Shell Dlg"
BEGIN
    LTEXT "Ingrese la función lógica:", -1, 10, 10, 200, 10
    EDITTEXT 4001, 10, 25, 460, 20, ES_AUTOHSCROLL

    PUSHBUTTON "Simplificar", ID_BTN_SIMPLIFICAR, 10, 60, 100, 25
    PUSHBUTTON "Enviar al simulador", ID_BTN_SEND_SIMULATOR, 120, 60, 140, 25


    GROUPBOX "Resultado", -1, 10, 100, 460, 80
    LTEXT "", 4004, 20, 120, 440, 40
END

DLG_KARNAUGH_VIEW DIALOG 0, 0, 420, 300
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Mapa de Karnaugh"
FONT 8, "MS Shell Dlg"
BEGIN
END


IDR_MAINMENU MENU
BEGIN
    POPUP "Modo"
    BEGIN

        MENUITEM "Simulador",               ID_MENU_SIMULATOR
        MENUITEM "Mapas de Karnaugh",       ID_MENU_KARNAUGH
        MENUITEM "Operaciones matemáticas", ID_MENU_MATH
        MENUITEM "Árboles y grafos",        ID_MENU_TREES

    END
END

LANGUAGE 0, SUBLANG_NEUTRAL
1 RT_MANIFEST ".\\manifest.xml"
